spring:
  application:
    name: authentication-service

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      username: ${REDIS_USERNAME}
      password: ${REDIS_PASSWORD}
      timeout: 60000
      connect-timeout: 10s
      ssl:
        enabled: false
      lettuce:
        pool:
          max-active: 10
          max-idle: 10
          min-idle: 2
          max-wait: -1ms

  datasource:
    url: jdbc:postgresql://localhost:5432/Sensa_Authentication_Service
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: authentication-service

  liquibase:
    change-log: classpath:db.changelog/db.changelog-master.yaml

  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka/

server:
  port: 8001

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method


jwt:
  user_secret: ${JWT_USER_SECRET}
  user_secret_lifetime: ${JWT_USER_SECRET_LIFETIME}