.idea/diff-generator.xml
.idea/sqldialects.xml
.idea/libraries
.idea/vcs.xml
.idea/
amplicode.xml
build/
.idea
.gradle
.gradle/
.DS_Store

Emergency Notification System Diagram.excalidraw
Emergency Notification System Diagram.excalidraw.png